/* Base styles */

body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
  color: #333;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #2c3e50;
}

/* Blog post list styles */
#blog-list {
    list-style: none;
    padding: 0;
/*     max-width: 700px; */
    margin: 0 auto;
}

#blog-list li {
    background-color: white;
    border-radius: 8px;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.1s ease, box-shadow 0.2s ease;
    width: 100vh;
}

#blog-list li:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

#blog-list a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #3498db;
}

#blog-list a:hover {
    text-decoration: underline;
}


.filters {
    text-align: center;
    margin: 1em 0;
}

#search-box,
#tag-filter {
    padding: 0.5em 1em;
    font-size: 1rem;
    margin: 1em 0.5em 1.5em 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
    transition: border-color 0.2s, box-shadow 0.2s;
}

#search-box:focus,
#tag-filter:focus {
    border-color: #007acc;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 122, 204, 0.2);
}

.post-container {
    margin-top: 15px;
}
